:root {
    --color-subdued: rgb(58, 58, 31);
    --color-blue: #effbff;
    --color-darkblue: #2980b9;
    --color-white: #f5f6fa;
    --font-sans: "Sen", sans-serif;
}

html {
    font-size: 10px;

    @media only screen and (max-width: 600px) {
        font-size: 8px;
    }
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: var(--color-subdued);
}

a {
    transition: all 500ms ease-in-out;
}

.bg-color {
    background-color: var(--color-white);
}

.border-left {
    border-left: 1px solid var(--color-subdued);
    padding: 2rem 3rem 2rem 3rem;
}

.cel {
    width: 100%;
    height: 3rem;
    border-top: 1px solid #000;
    background-color: var(--color-blue);
    bottom: 0;
    left: 0;
    position: absolute;
}

.full-height {
    min-height: 60vh;
}

.line-v {
    width: 1px;
    height: 100%;
    display: block;
    background: #000;
}

.center {
    display: flex;
    align-items: center;
}

.tagline {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.2;
    max-width: 80%;
    margin-bottom: 6rem;
    display: block;
}

.icon--logo img {
    width: 4rem;
}

.font--sen {
    font-family: var(--font-sans);
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 6rem;
    font-weight: 600;
}

.mousescroll {
    border-top: 1px solid var(--color-subdued);
    padding: 3rem 0;
    a {
        color: var(--color-subdued);
        text-decoration: none;
    }
    .icon--scroll {
        margin: 0 auto;
        display: block;
        width: fit-content;
        text-align: center;
        cursor: pointer;

        img {
            width: 5rem;
            animation: mouseUpDown 2s ease-in-out 0s infinite normal forwards;
        }
        span {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            display: block;
            text-align: center;
        }
    }
}

@keyframes mouseUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.menu {
    position: fixed;
    bottom: 3rem;
    left: 0;
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 2rem;
    padding-right: 0rem;
    border: 1px solid var(--color-subdued);
    border-left: 10px solid var(--color-subdued);
    z-index: 1030;
    width: 24rem;
    cursor: pointer;

    strong {
        font-family: var(--font-sans);
        text-transform: uppercase;
        margin-left: 1rem;
        font-size: 3rem;
        margin-right: 1rem;
    }

    .navbar {
        display: none;
    }

    nav {
        position: absolute;
        bottom: 4.5rem;
        left: -25rem;
        background: #fff;
        padding: 2rem 3rem 1rem;
        width: 24rem;
        border: 1px solid var(--color-subdued);
        ul {
            margin: 0;
            padding: 0;
            display: block;
            text-transform: uppercase;
        }
        li {
            list-style-type: none;
            display: block;
            margin-bottom: 1rem;
        }
        a {
            color: var(--color-subdued);
            text-decoration: none;
        }
        a:hover {
            padding-left: 1rem;
            color: var(--color-darkblue);
        }
    }
    .icon--dots span {
        display: block;
        background: var(--color-subdued);
        width: 5px;
        height: 5px;
        margin: 5px;
        border-radius: 100%;
    }
    .dots--wrapper {
        margin: 0 10px;
    }
    &.open {
        border-left: 10px solid var(--color-darkblue);
        nav {
            left: -1rem;
            animation: menuOpen 500ms ease-in-out 0s normal forwards;
        }
        .icon--dots {
            transform: rotate(90deg);
            span {
                background: var(--color-darkblue);
            }
        }
    }
}

@keyframes menuOpen {
    0% {
        left: -25rem;
    }
    100% {
        left: -1rem;
    }
}

@keyframes menuClose {
    0% {
        left: -1rem;
    }
    100% {
        left: -25rem;
    }
}

.halfcontentblock {
    h2 {
        font-family: var(--font-sans);
        text-transform: uppercase;
        font-size: 7rem;
        line-height: 6rem;
        font-weight: 600;
        padding: 2rem 0 0 2rem;
    }

    h3 {
        font-family: var(--font-sans);
        text-transform: uppercase;
        font-size: 5rem;
        line-height: 4rem;
        font-weight: 600;
        margin: 2rem 0 4rem 0;
    }

    p {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 4rem;
    }

    .listing {
        padding-bottom: 3rem;
        strong {
            text-transform: uppercase;
            font-size: 2.5rem;
            font-family: var(--font-sans);
        }
        p {
            margin-bottom: 3rem;
        }
    }
}

.heroblock {
    background: var(--color-darkblue);
    border-top: 1px solid var(--color-subdued);
    border-bottom: 1px solid var(--color-subdued);
    padding: 3rem 0;

    .heroblock-image {
        border-top: 1px solid var(--color-subdued);
        border-bottom: 1px solid var(--color-subdued);
        min-height: 50vh;
        background-size: cover;
    }
}

.companylist {
    padding: 5rem 0 10rem;
    h2 {
        font-family: var(--font-sans);
        text-transform: uppercase;
        font-size: 7rem;
        line-height: 6rem;
        font-weight: 600;
        margin: 5rem auto 6rem;
    }

    ul {
        margin: 2rem auto;
        padding: 0 0 0 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90rem;
    }

    ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        margin: -1px;
        padding: 3rem;
        border: 1px solid var(--color-subdued);
    }
    img {
        max-width: 15rem;
    }
}

.contactblock {
    background-color: var(--color-darkblue);
    color: var(--color-white);
    padding: 5rem;

    h2 {
        font-size: 15rem;
        font-family: var(--font-sans);
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 10rem;
    }
    strong {
        display: block;
        font-family: var(--font-sans);
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    a,
    address {
        font-size: 2rem;
        color: var(--color-white);
        text-decoration: none;
        margin-bottom: 2.5rem;
        display: block;
    }
    a:hover {
        text-decoration: underline;
    }

    @media only screen and (max-width: 600px) {
        h2 {
            font-size: 7rem;
        }
    }
}

footer {
    border-top: 1px solid var(--color-white);
    background-color: var(--color-darkblue);
    color: var(--color-white);
    text-align: center;
    padding: 3rem 0;
    small {
        display: block;
    }
    a {
        color: var(--color-white);
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    h1 {
        font-size: 2rem;
    }
    strong {
        display: block;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px 0;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0597d0;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
